[Desktop Entry]
Name=Terminal
Comment=Open Terminal
Exec=xterm -e bash --login
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
